Django==6.0.4
gunicorn==26.0.0
whitenoise==6.12.0
python-dotenv==1.2.2
requests==2.33.1
yfinance==1.3.0
social-auth-app-django==5.9.0
social-auth-core==4.9.1
pytest==9.0.3
pytest-django==4.12.0
behave==1.2.6
